main {
    height: 80%;
    min-height: 700px;
    overflow: hidden;
    flex: 1;
}

.forheader {
    width: 100%;
    height: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 900px;
}

.transform-container {
    width: 100%;
    height: 30vh;
    min-height: 30px;
    margin-bottom: 6vh;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

.big-header {
    width: 100vw;
    height: 22vh;
    background: #1D1D1F;
}

.big-header h1 {
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .3rem;
    margin: 0;
    padding: 0;
    line-height: 22vh;
    text-align: center;
    font-size: 1rem;
    color: #FFF;
}

.backoffice h2 {
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 20px;
    font-size: .8125rem;
    letter-spacing: .4em;
}

#login-form .row {
    margin-bottom: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 312px;
    margin: 0 auto;
    max-width: 62.5rem;
}
.row .new {
    width: 50%;
}
.row .registered {
    width: 50%;
}

.row.modif {
    justify-content: center;
}
.row.modif .registered {
    width: auto;
}

.modif .registered .medium-1 {
    width: 102.66667%;
}

.row.modif .registered .columns {
    padding-left: .0375rem;
}

.column, .columns  {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}

.medium-offset-0 {
    margin-left: 0!important;
}

.medium-offset-1 {
    margin-left: 19.33333%!important;
}

.medium-offset-2 {
    margin-left: 0!important;
}

.medium-0 {
    width: 60.33333%;
}

.medium-1 {
    width: 80.66667%;
}

.backoffice .button, .backoffice button {
    font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    width: 100%;
    font-size: .6875rem;
    padding: 0;
    height: 52px;
    line-height: 52px;
    background: #1D1D1F;
    color: #FFF;
    overflow: hidden;
}

.backoffice .button.back {
    background: #FFF;
    color: #1D1D1F;
}

.backoffice .button, .backoffice button, .button, button {
    text-rendering: auto;
}

.button, button {
    display: inline-block;
}

.button, button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    margin: 3px 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    transition: background-color 300ms ease-out;
}

.backoffice .button>span, .backoffice button>span {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

b, strong {
    font-weight: 700;
    line-height: inherit;
}

.backoffice a {
    color: #1D1D1F;
}

.hide-for-small {
    display: inherit!important;
}

label:first-of-type {
    margin-top: 0;
}

.backoffice label {
    display: block;
    position: relative;
    font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 6px;
    padding: 0;
    font-size: .5625rem;
    letter-spacing: .125rem;
    color: #6C6C6C;
}

label {
    font-size: .875rem;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}

.backoffice .cleaninput.border-bottom {
    border: 1px solid #d5d5d6;
    padding: 4px 14px;
}

.backoffice .cleaninput {
    display: block;
    position: relative;
    font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
    font-weight: 400;
    font-size: .625rem;
    letter-spacing: .125rem;
    background: 0 0;
    outline: 0;
    box-shadow: none;
    color: #1D1D1F;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.backoffice input[type=text], input[type=password], input[type=email] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    height: 2.3125rem;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow .45s,border-color .45s ease-in-out;
}

input {
    line-height: normal;
}

.backoffice p {
    font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    color: #1D1D1F;
    font-size: .5625rem;
    letter-spacing: .125rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}

.backoffice h2:not(.columns), .backoffice h3:not(.columns), .backoffice h4:not(.columns) {
    padding: 0;
}
a {
    background-color: transparent;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}

h2 {
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

@media (max-width : 600px) {

    main {
        min-height: 800px;
    }
    .big-header {
        height: 20vh;
    }
    .big-header h1 {
        font-size: .6rem;
        line-height: 20vh;
    }
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .medium-offset-1 {
        margin-left: 0.33333%!important;
    }
    .medium-0 {
        width: 174.33333%;
    }
    .medium-1 {
        width: 174.66667%;
    }
    .column, .columns {
        padding-left: 12.66667%;
    }
    .backoffice h2 {
        margin: 26px 0 8px;
        font-size: .7125rem;
    }
    .backoffice label {
        margin: 2px 0 6px;
    }
    .button, button {
        margin: 4px 0 0.25rem;
    }
    .backoffice p {
        margin-bottom: 1rem;
    }
    .transform-container {
        margin-bottom: 2vh;
    }
    .row.modif {
        margin: -100px auto;
    }
    .modif .registered .medium-1 {
        width: 92.66667%;
    }
    .row.modif .registered .columns {
        padding-left: 3.66667%;
    }
}

