html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #f3f3f5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.head-block {
    background: #f3f3f5;
    width: 100%;
    height: 80px;
}

.main {
    background: #f3f3f5;
    width: 100%;
    flex: 1;
}

.flex-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1339px;
    margin: 7px auto;
}

.photo {
    width: 31.333%;
    height: 16.29vw;
    margin: 1%;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 3px 6px 14px 1px lightgrey;
    border-radius: 6px;
    position: relative;
}

.photo:hover {
    /*background: darkgrey;*/
    opacity: 0.5;
    transition: all .2s cubic-bezier(.645,.045,.355,1);
}

.photo-hover {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 50;
    top: 30%;
    left: 30%;
}

.set-like i {
    margin: 15%;
    font-size: 50px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.set-like > i:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.count-likes {
    margin: 13%;
    font-size: 25px;
    bottom: 0;
}

.clear {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 50;
    top: 25%;
    left: 23%;
}

.clear i {
    margin: 15%;
    font-size: 70px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.clear i:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.photo > img {
    height: 100%;
    width: 100%;
}

.profile-photo {
    width: 23.333%;
    height: 23.143vw;
    max-width: 300px;
    max-height: 300px;
    margin: 15px auto;
    border-radius: 50%;
    text-align: center;
    background-image: url(../stickers/avatar.png);
    background-size: cover;
}
.xlogin {
    text-align: center;
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    font-size: 30px;
}

.inform {
    text-align: center;
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    font-size: 20px;
    margin: 10px;
}

#invisibleBox {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(29,29,31,.6);
    visibility: visible;
    opacity: 1;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    overflow: hidden;
}

.load-more-butt {
    width: 31%;
    height: 50px;
    font-family: "Gotham A", "Gotham B";
    display: block;
    margin: 10px auto;
    padding: 10px;
    color: #f3f3f5;
    background: #1D1D1F;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 4px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    box-shadow: 3px 6px 14px 1px darkgrey;
}
.load-more-butt:hover {
    background: #5a5a5a;

}

.dislike, .like {
    display: none;
}



@media (max-width : 1920px) {

    .flex-main {
        width: 70%;
    }
    .photo {
        height: 21.93vw;
    }
    .profile-photo {
        height: 23.143vw;
    }
    .xlogin {
        font-size: 30px;
    }

}

@media (max-width : 992px) {

    .flex-main {
        width: 90%;
    }
    .photo {
        height: 28.2vw;
    }
    .profile-photo {
        width: 28.644%;
    }
    .xlogin {
        font-size: 25px;
    }

}

@media (max-width : 600px) {

    .flex-main {
        width: 100%;
    }
    .photo {
        width: 80%;
        height: 80vw;
        margin: 2%;
        margin-left: 10%;
    }
    .profile-photo {
        margin: 20px auto;
    }
    .load-more-butt {
        width: 50%;
    }
    .xlogin {
        font-size: 5vw;
    }
}