
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}

.w3-button {
    border:none;
    display:inline-block;
    outline:0;padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}
.w3-button:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.w3-bar-block .w3-bar-block {
    min-width: 100%;
}
.w3-bar-block .w3-button .w3-bar-block {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
}

.w3-bar {
    width:100%;
    overflow:hidden;
    display:inline-block;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block
}

.w3-bar .w3-button {
    white-space: normal;
}

.w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
    /*text-align:center;*/
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}
@keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

