
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}

.w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align:middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.w3-sidebar {
    height: auto;
    width: 300px;
    background: #1D1D1F;
    position: fixed !important;
    z-index: 2;
    min-height: 500px;
    margin-top: 0!important;
    left: 0;
    top: 0;
    bottom: 0;
    letter-spacing: .1875rem;
    /* если в модальном окне много содержимого, показываем скроллбар */
    overflow: auto;
    /* однопальцевый скролл для iPad*/
    -webkit-overflow-scrolling: touch;
    /* фикс для странностей в iPad */
    -webkit-transform: translateZ(0px);
}

.w3-bar-block .w3-button .w3-bar-block {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
}

.w3-bar {
    width: 100%;
    display: inline-block;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    /*width: auto;*/
    border: none;
    outline: none;
    display: block
}

.w3-bar-block .w3-bar-item {
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
}

#mySidebar aside {
    position: absolute;
    height: 372px;
    top: 50%;
    left: -100px;
    opacity: 0;
    display: block;
    margin: -218px 0;
    transition: all 750ms ease .25s;
}

#mySidebar h3 {
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .8125rem;
    color: #FFF;
    letter-spacing: .3rem;
    margin: 350px 0px 62px 75px;
    padding: 0;
    top: 40px;
}

#mySidebar ul {
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFF;
    margin: 0px 0px 50px 60px;
    padding: 2px 0 7px;
    font-size: .725rem;
    letter-spacing: .2rem;
    list-style: none;
    line-height: 1.6;
}

#mySidebar ul li {
    display: block;
    position: relative;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 10px;
    padding: 0;
}

#mySidebar ul li a {
    transition: all 500ms cubic-bezier(.39, .575, .565, 1);
    color: #9c9c9c;
    overflow: hidden;
    background-color: transparent;
    text-decoration: none;
    line-height: inherit;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s;
}

@keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

.w3-button:hover {
    color: #000 !important;
    background-color: white !important;
}

@media (max-width : 1920px) {
    .w3-sidebar {
        width: 250px;
    }
    #mySidebar h3 {
        margin: 300px 0 60px 70px;
        top: 40px;
    }
    #mySidebar ul {
        margin: 0px 0px 40px 56px;
        font-size: .625rem;
    }
}
@media (max-width : 992px) {
    .w3-sidebar {
        width: 220px;
    }
    #mySidebar h3 {
        margin: 300px 0 60px 60px;
        top: 40px;
    }
    #mySidebar ul {
        margin: 0px 0px 40px 45px;
    }
}
@media (max-width : 600px) {
    .w3-sidebar {
        width: 180px;
    }
    #mySidebar h3 {
        font-size: .6125rem;
        margin: 200px 0 50px 45px;
        top: 30px;
    }
    #mySidebar ul {
        margin: 0px 0px 36px 30px;
        font-size: .425rem;
        line-height: 1.0;
    }
}