
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}

.w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align:middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.w3-sidebar {
    height: 100%;
    width: 200px;
    background: #1D1D1F;
    position: fixed !important;
    z-index: 1;
    overflow: hidden;
    min-height: 500px;
    margin-top: 0!important;
    left: 0;
    top: 0;
    bottom: 0;
    letter-spacing: .1875rem;
}

.w3-bar-block .w3-button .w3-bar-block {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
}

.w3-bar {
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block
}

.w3-bar .w3-button {
    white-space: normal;
}

.w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
    /*text-align:center;*/
}

#mySidebar div {
    position: absolute;
    height: 372px;
    top: 50%;
    left: -100px;
    opacity: 0;
    display: block;
    margin: -218px 0;
    transition: all 750ms ease .25s;
}

#mySidebar h3 {
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .8125rem;
    color: #FFF;
    letter-spacing: .3rem;
    margin: 400px 0 60px 55px;
    padding: 0;
    top: 50px;
}

#mySidebar ul {
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFF;
    margin: 0 0 37px 40px;
    padding: 2px 0 7px;
    font-size: .625rem;
    letter-spacing: .2rem;
    list-style: none;
    line-height: 1.6;
}

#mySidebar ul li {
    display: block;
    position: relative;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 5px;
    padding: 0;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s;
}
@keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

.w3-button:hover {
    color: #000 !important;
    background-color: white !important;
}



@media (max-width : 1920px) {



}
@media (max-width : 992px) {


}
@media only screen
and (min-width : 300px)
and (max-width : 600px) {


}