main {
    flex: 1;
}
.page {
    width: 100%;
    /*height: 100%;*/
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}

.snap-disable {
    background-color: gray !important;
    color: #f1f1f1 !important;
}
.wrapper {
    width: 1326px;
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}
.gallery {
    width: 102%;
    margin-bottom: 30px;
    margin-left: -16px;
}
.camera {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}


/*video block*/
.camera .video {
    border: 1px solid #d5d5d6;
    width: 754px;
    position: relative;
    transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
#video {
    width: 100%;
    visibility: hidden;
    position: absolute;
}
#canvas {
    width: 100%;
}

.video > img {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

    /*tools block*/
.camera .tools {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    width: 550px;
    overflow: hidden;
    background: white;
}
.camera .tools > div {
    display: flex;
    width: 48%;
    height: 182px;
    color: #000;
    flex-grow: 1;
    flex-basis: auto;
    padding: 2px;
    cursor: pointer;
    overflow: hidden;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.camera .tools > div > img {
    height: 86%;
    display: block;
    margin: auto;
}
.camera .tools > div > p {
    color: #1D1D1F;
    /*margin-top: 30%;*/
    font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1875rem;
    font-size: 2.0875rem;
    line-height: 200px;
}
.camera .tools > div:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.tools {
    box-shadow: -8px 6px 14px 1px darkgrey;
}

/*actions block*/
.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.actions div {
    width: 49.5%;
}
.actions div button {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    font-size: .8875rem;
    padding: 0;
    line-height: 52px;
    background: #1D1D1F;
    color: #FFF;
    overflow: hidden;
    border-style: none;
    outline: none;
    box-shadow: -1px 2px 14px 0px darkgrey;
    border-radius: 2px;
}
.actions div button:hover {
    color: #000;
    background-color: whitesmoke;
}


/*gallery accordion*/
.accordion {
    width: 100%;
    max-width: 1350px;
}
.accordion ul {
    width: 100%;
    margin: 10px 0 10px 0;
}
.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 14.286%;
    height: 175px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
    /*transform: perspective(1000px)rotateY(-30deg);*/
    /*background-color: darkgray;*/
    box-shadow: 3px 6px 14px 1px darkgrey;
    opacity: 1;
}
.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: contain;

}
.accordion ul li div canvas {
    height: 100%;
    display: block;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}
.accordion ul li div canvas * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.accordion ul li:nth-child(1) { background-image: url(""); }

.accordion ul li:nth-child(2) { background-image: url(""); }

.accordion ul li:nth-child(3) { background-image: url(""); }

.accordion ul li:nth-child(4) { background-image: url(""); }

.accordion ul li:nth-child(5) { background-image: url(""); }

.accordion ul li:nth-child(6) { background-image: url(""); }

.accordion ul li:nth-child(7) { background-image: url(""); }

.accordion ul:hover li { width: 10%; }

.accordion ul:hover li:hover { width: 15%; }

.accordion ul:hover li:hover canvas { background: rgba(0, 0, 0, 0.4); }

.accordion ul:hover li:hover canvas * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}





@media (max-width : 1920px) {
    .wrapper {
        width: 70%;
        margin-top: 20px;
    }
    .gallery {
        width: 103%;
    }
    .accordion ul {
        width: 100%;
    }
    .accordion ul li {
        width: 20%;
        height: 150px;
    }
    .camera .video {
        width: 58%;
    }
    .camera .tools {
        width: 40%;
    }

    .accordion {  height: auto;  }
    .accordion ul li {
        width: 16.666%;
    }
    .accordion ul:hover li { width: 16%; }
    .accordion ul:hover li:hover { width: 22%; }

    .actions div button {
        font-size: .7875rem;
    }
    .camera .tools > div {
        width: 47%;
        height: 9.7vw;
    }
    .camera .tools > div > p {
        font-weight: 600;
        font-size: 1.5875rem;
        line-height: 11vw;
    }
}

@media (max-width : 992px) {
    .wrapper {
        width: 90%;
    }
    .gallery {
        margin-bottom: 20px;
        width: 103%;
        margin-left: -10px;
    }
    .accordion {
        width: 99.6%;
    }
    .accordion ul {
        width: 99.5%;
    }
    .accordion ul li {
        width: 25%;
        height: 150px;
    }
    .camera {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .camera .video {
        width: 99.5%;
    }
    .camera .tools {
        width: 99.5%;
        margin-top: 20px;
    }
    .camera .tools > div {
        width: 32%;
        height: 18vw;
    }
    .camera .tools > div > p {
        font-weight: 600;
        font-size: 1.3875rem;
        line-height: 20vw;
    }
    .actions div button {
        margin-bottom: 34px;
    }
    .accordion {  height: auto;  }
    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
        width: 20%;
    }
    .accordion ul:hover li { width: 19%; }
    .accordion ul:hover li:hover { width: 32%; }

    .actions div button {
        font-size: .6875rem;
    }
}

@media (max-width : 600px) {
    .wrapper {
        width: 98%;
        margin-top: 10px;
    }
    .gallery {
        margin-bottom: 20px;
        width: 110%;
    }
    .camera {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .camera .video {
        width: 100%;
    }
    .camera .tools {
        width: 99.5%;
        margin-top: 20px;
    }
    .camera .tools > div {
        width: 30%;
        height: 16vw;
    }
    .camera .tools > div > p {
        font-size: 1.0875rem;
        line-height: 17vw;
    }
    .accordion ul {
        width: 97%;
    }
    .accordion { height: auto; }
    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
        width: 33%;
        height: 140px;
    }
    .accordion ul:hover li { width: 30%; }
    .accordion ul:hover li:hover { width: 40%; }
}







